
<div class="location_show row well well-compact" style="border-radius: 20px; box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.7);">
  <div class="field col-xs-12" style="margin-bottom: 20px; font-size: 40px; text-align: center; border-bottom: solid 3px #1c1c80;">
    <strong><%= @location.location_name %></strong>
  </div>
  <br>
  <br>
  <div class="location_info">
    <div class="location_image col-sm-5" style="padding-left: 30px;">
      <%= attachment_image_tag @location, :location_image,　format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image_camera_medium.jpg", size: "250x250" %>
    </div>
    <div class="location_detail col-sm-7" style="margin-top: 0px; margin-bottom: 10px; font-size: 16px;">
      <div class="location_url col-xs-12" style="padding-top: 0px; word-wrap: break-word;">
        <p style="margin-bottom: 4px;"><strong>・URL</strong></p>
        <P style="margin-bottom: 20px;"><%= text_url_to_link(h(@location.location_url)).html_safe %></p>
      </div>
      <div class="location_station col-xs-12" style="word-wrap: break-word;">
        <p style="margin-bottom: 4px;"><strong>・最寄駅</strong></p>
        <P style="margin-bottom: 20px;"><%= @location.station %></p>
      </div>
      <div class="location_memo col-xs-12" style="">
        <p style="margin-bottom: 4px;"><strong>・メモ</strong></p>
        <% if @location.location_memo.blank? %>
          <p style="margin-bottom: 20px;">まだメモはありません</p>
        <% else %>
          <div class="text-area alert alert-info" style="word-wrap: break-word;">
            <%= simple_format(@location.location_memo) %>
          </div>
        <% end %>
      </div>
      <div class="location_status col-xs-12" style="">
        <% if @location.public_status == "公開しない" %>
          <div class="location_public" style="word-wrap: break-word;">
            <p style="margin-bottom: 4px;"><strong>・公開ステータス</strong></p>
            <p style="color: blue;"><%= @location.public_status %></p>
          </div>
        <% else %>
          <div class="location_private" style="word-wrap: break-word;">
            <p style="margin-bottom: 4px;"><strong>・公開ステータス</strong></p>
            <p style="color: red;"><%= @location.public_status %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% if @location.latitude.blank? %>
    <div class="location_map col-xs-12">
      <p style="text-align: center; padding-top: 30px;">地図登録したい地名が未入力か、入力した地名では登録できなかったため、地図を表示できません。</p>
    </div>
  <% else %>
    <div class="location_map col-xs-12">
      <p style="font-size: 20px; padding-top: 30px;"><strong><%= @location.address %></strong></p>
      <div id="map" style='width: 100%; height: 500px; border-radius: 20px; border: 2px solid #dcdcdc; margin-bottom: 20px;'></div>
    </div>
  <% end %>
</div>

<div class="location_edit_delete" style="text-align: center">
  <div class='location_edit col-xs-6' style="margin: 30px auto">
    <%= link_to edit_admins_location_path(@location.id), style:"box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.7);", class:"btn-lg btn-success", method: :get do %>
      <span class="glyphicon glyphicon-wrench"></span> 編集 <span class="glyphicon glyphicon-wrench"></span>
    <% end %>
  </div>
  <div class='location_delete col-xs-6' style="margin: 30px auto">
    <%= link_to admins_location_path(@location.id), "data-confirm" => "管理者権限で、本当に削除しますか?", style:"box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.7);", class:"btn-lg btn-danger", method: :delete do %>
      <span class="glyphicon glyphicon-trash"></span> 削除 <span class="glyphicon glyphicon-trash"></span>
    <% end %>
  </div>
</div>



<style type="text/css">
.location_show {
  width: 760px;
  margin: 0 auto;
}
.location_image {
  margin-top: 20px;
  padding-right: 0px;
}

@media screen and (max-width:768px) {
  .location_show {
    width: 350px;
    margin: 0 auto;
  }
  .location_image {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
  }
}
</style>



<script type="text/javascript">
  function initMap() {

    var test ={lat: <%= @location.latitude %>, lng: <%= @location.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: test
    });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '<%= @location.address %>';
    var infowindow = new google.maps.InfoWindow({
        content: contentString
    });

    var marker = new google.maps.Marker({
        position:test,
        map: map,
        title: contentString
    });

    marker.addListener('click', function() {
        infowindow.open(map, marker);
    });
  }
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GMAP_API_KEY'] %>&callback=initMap">
</script>






