
<div class='user_show' style="padding: 0px;">
  <div class="row" style="margin-bottom: 30px;">
    <div class="user_profile row well well-compact" style="padding: 5px 19px 0px 19px; border-radius: 20px; box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.7); margin: 0 auto;">
      <div class="user_image col-sm-3" style="margin-top: 40px;">
        <div class="col-xs-12" style="padding-left: 0px;">
          <%= attachment_image_tag @user, :user_image,　format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "/images/no_image.jpg", size: "150x150", style:"margin-bottom: 40px;" %>
        </div>
      </div>
      <div class="user_detail col-sm-6" style="margin-top: 20px; font-size: 16px;">
        <div class="user_name" style="">
          <% if current_user.id == @user.id %>
            <div class="user_name col-xs-12" style="">
              <p style="margin-bottom: 4px;"><strong>・ユーザー名</strong></p>
              <p style="margin-bottom: 20px;"><%= @user.user_name %></p>
            </div>
            <div class="email col-xs-12" style="">
              <p style="margin-bottom: 4px;"><strong>・Eメールアドレス</strong></p>
              <p style="margin-bottom: 20px;"><%= @user.email %></p>
            </div>
            <div class="friend_id col-xs-12" style="">
              <p style="margin-bottom: 4px;"><strong>・フレンドID</strong></p>
              <p style="margin-bottom: 10px;"><%= @user.friend_id %></p>
            </div>
          <% else %>
            <div class="friend_name col-xs-12" style="">
              <p style="margin-bottom: 4px;"><strong>・ユーザー名</strong></p>
              <p style="margin-bottom: 20px;"><%= @user.user_name %></p>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-sm-3" style="text-align: center">
        <% if current_user.id != @user.id %>
          <div class="chat_button col-xs-10 col-xs-offset-1" style="">
            <%= form_for @room do |f| %>
              <% @friendship = Friendship.find_by(from_user_id: current_user.id, to_user_id: @user.id) %>
              <%= f.hidden_field :friendship_id, :value => @friendship.id %>
              <%= f.hidden_field :invite_user_id, :value => current_user.id %>
              <%= f.hidden_field :invited_user_id, :value => @user.id %>
                <%= fields_for @entry do |e| %>
                  <%= e.hidden_field :user_id, :value => @user.id %>
                <% end %>
              <%= f.submit "チャット", style:"width: 120px;", class:"btn btn-warning" %>
            <% end %>
          </div>
          <br>
          <div class="friend_delete col-xs-10 col-xs-offset-1" style="">
            <%= link_to friendship_path(@friendship.id), "data-confirm" => "本当にフレンド関係を解消しますか?", style:"width: 120px;", class:"btn btn-danger col-xs-12" , method: :delete do %>
              フレンド解消
            <% end %>
          </div>
        <% end %>

        <% if current_user.id == @user.id %>
          <div class='user_edit col-xs-10 col-xs-offset-1' style="padding: 10px; margin-top: 10px; ">
            <%= link_to edit_user_path(@user.id), class:"btn btn-success", method: :get do %>
              アカウント編集
            <% end %>
          </div>
          <br>
          <div class='user_delete col-xs-10 col-xs-offset-1' style="padding: 10px; margin-bottom: 10px;">
            <%= link_to user_path(@user.id), "data-confirm" => "本当にアカウントを削除しますか?", class:"btn btn-danger", method: :delete do %>
              アカウント削除
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="location_and_thing row" style="" >
    <div class="col-xs-12">
    <% if current_user.id == @user.id %>
      <div class="location_and_thing clearfix">
        <div class="left col-sm-6" style="padding: 0px;">
          <div class="user_location_index" style="margin-bottom: 20px; width: 350px; margin: 0 auto;">
            <div class="location_title" style="margin-bottom: 10px; font-size: 40px; text-align: center; text-shadow: 4px 4px 4px #000000; color: #00bfff; -webkit-text-stroke: 0.2px black;">
              <strong>Locations</strong>
            </div>
            <% @location.each do |location| %>
              <% if location.public_status == "公開する" %>
                <div class="user_location" style="height: 60px; margin-bottom: 20px; box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.6);">
                  <%= link_to location_path(location.id), class:"" do %>
                    <div class="location_image col-xs-2" style="padding-top: 5px; padding-bottom: 5px; padding-left: 15px;">
                      <%= attachment_image_tag location, :location_image,　format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image_camera_medium.jpg", size: "50x50" %>
                    </div>
                    <div class="location_name col-xs-8" style="height: 60px; padding-top: 15px; padding-bottom: 15px; padding-left: 20px; font-size: 20px; color: black; text-overflow: ellipsis ; overflow: hidden; white-space: nowrap;">
                      <%= location.location_name %>
                    </div>
                    <div class="location_status col-xs-2" style="height: 60px; padding-top: 18px; padding-bottom: 18px; padding-left: 0px; font-size: 16px; color: black;">
                      <span style="background-color: red; color: white; border-radius: 5px;">OPEN</span>
                    </div>
                  <% end %>
                </div>
              <% else %>
                <div class="user_location" style="height: 60px; margin-bottom: 20px; box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.6);">
                  <%= link_to location_path(location.id), class:"" do %>
                    <div class="location_image col-xs-2" style="padding-top: 5px; padding-bottom: 5px; padding-left: 15px;">
                      <%= attachment_image_tag location, :location_image,　format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image_camera_medium.jpg", size: "50x50" %>
                    </div>
                    <div class="location_name col-xs-10" style="height: 60px; padding-top: 15px; padding-bottom: 15px; padding-left: 20px; font-size: 20px; color: black; text-overflow: ellipsis ; overflow: hidden; white-space: nowrap;">
                      <%= location.location_name %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% end %>
            <div class="" style="text-align: center; width: 100%;">
              <%= paginate @location, class:"paginate" %>
            </div>
          </div>
        </div>
        <div class="right col-sm-6" style="padding: 0px;">
          <div class="user_thing_index" style="margin-bottom: 20px; width: 350px; margin: 0 auto;">
            <div class="thing_title" style="margin-bottom: 10px; font-size: 40px; text-align: center; text-shadow: 4px 4px 4px #000000; color: #ffd700; -webkit-text-stroke: 0.2px black;">
              <strong>Objects</strong>
            </div>
            <% @thing.each do |thing| %>
              <% if thing.public_status == "公開する" %>
                <div class="user_thing" style="height: 60px; margin-bottom: 20px; box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.6);">
                  <%= link_to thing_path(thing.id), class:"" do %>
                    <div class="thing_image col-xs-2" style="padding-top: 5px; padding-bottom: 5px; padding-left: 15px;">
                      <%= attachment_image_tag thing, :thing_image,　format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image_camera_medium.jpg", size: "50x50" %>
                    </div>
                    <div class="thing_name col-xs-8" style="height: 60px; padding-top: 15px; padding-bottom: 15px; padding-left: 20px; font-size: 20px; color: black; text-overflow: ellipsis ; overflow: hidden; white-space: nowrap;">
                      <%= thing.thing_name %>
                    </div>
                    <div class="thing_status col-xs-2" style="height: 60px; padding-top: 18px; padding-bottom: 18px; padding-left: 0px; font-size: 16px; color: black;">
                      <span style="background-color: red; color: white; border-radius: 5px;">OPEN</span>
                    </div>
                  <% end %>
                </div>
              <% else %>
                <div class="user_thing" style="height: 60px; margin-bottom: 20px; box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.6);">
                  <%= link_to thing_path(thing.id), class:"" do %>
                    <div class="thing_image col-xs-2" style="padding-top: 5px; padding-bottom: 5px; padding-left: 15px;">
                      <%= attachment_image_tag thing, :thing_image,　format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image_camera_medium.jpg", size: "50x50" %>
                    </div>
                    <div class="thing_name col-xs-10" style="height: 60px; padding-top: 15px; padding-bottom: 15px; padding-left: 20px; font-size: 20px; color: black; text-overflow: ellipsis ; overflow: hidden; white-space: nowrap;">
                      <%= thing.thing_name %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% end %>
            <div class="" style="text-align: center; width: 100%;">
              <%= paginate @thing, class:"paginate" %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="location_and_thing">
        <div class="left col-sm-6" style="padding: 0px;">
          <div class="user_location_index" style="margin-bottom: 20px; width: 350px; margin: 0 auto;">
            <div class="thing_title" style="">
              <p style="margin-bottom: 10px; font-size: 40px; text-align: center; text-shadow: 4px 4px 4px #000000; color: #00bfff; -webkit-text-stroke: 0.2px black;"><strong>Locations</strong></p>
            </div>
            <% @location_public.each do |location| %>
              <div class="user_location" style="height: 60px; margin-bottom: 20px; box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.6);">
                <%= link_to location_path(location.id), class:"" do %>
                  <div class="location_image col-xs-2" style="padding-top: 5px; padding-bottom: 5px; padding-left: 15px;">
                    <%= attachment_image_tag location, :location_image,　format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image_camera_medium.jpg", size: "50x50" %>
                  </div>
                  <div class="location_name col-xs-10" style="height: 60px; padding-top: 15px; padding-bottom: 15px; padding-left: 20px; font-size: 20px; color: black; text-overflow: ellipsis ; overflow: hidden; white-space: nowrap;">
                    <%= location.location_name %>
                  </div>
                <% end %>
              </div>
            <% end %>
            <div class="" style="text-align: center; width: 100%;">
              <%= paginate @location_public, class:"paginate" %>
            </div>
          </div>
        </div>
        <div class="right col-sm-6" style="padding: 0px;">
          <div class="user_thing_index" style="margin-bottom: 20px; width: 350px; margin: 0 auto;">
            <div class="thing_title" style="">
              <p style="margin-bottom: 10px; font-size: 40px; text-align: center; text-shadow: 4px 4px 4px #000000; color: #ffd700; -webkit-text-stroke: 0.2px black;"><strong>Objects</strong></p>
            </div>
            <% @thing_public.each do |thing| %>
              <div class="user_thing" style="height: 60px; margin-bottom: 20px; box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.6);">
                <%= link_to thing_path(thing.id), class:"" do %>
                  <div class="thing_image col-xs-2" style="padding-top: 5px; padding-bottom: 5px; padding-left: 15px;">
                    <%= attachment_image_tag thing, :thing_image,　format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image_camera_medium.jpg", size: "50x50" %>
                  </div>
                  <div class="thing_name col-xs-10" style="height: 60px; padding-top: 15px; padding-bottom: 15px; padding-left: 20px; font-size: 20px; color: black; text-overflow: ellipsis ; overflow: hidden; white-space: nowrap;">
                    <%= thing.thing_name %>
                  </div>
                <% end %>
              </div>
            <% end %>
            <div class="" style="text-align: center; width: 100%;">
              <%= paginate @thing_public, class:"paginate" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>

<style type="text/css">
.user_profile {
  width: 700px;
}
.friend_name {
  margin-top: 20px;
}
.chat_button {
  padding: 10px;
  margin-top: 10px;
}
.friend_delete {
  padding: 10px;
  margin-bottom: 10px;
}


@media screen and (max-width:767px) {
  .user_profile {
  width: 350px;
  }
  .user_image {
    margin-left: 33px;
    margin-bottom: 20px;
  }
  .friend_name {
  margin-top: 0px;
  }
  .chat_button {
    margin-top: 0px;
    padding-left: 10px;
  }
  .friend_delete {
    margin-left: 70px;
  }
}
</style>
