
<div class="inquiry_confirm col-md-6 col-md-offset-3">
  <%= form_for @inquiry, :url => inquiries_done_path do |f| %>
    <div class="well well-compact col-md-12" style="box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.7); background-color: rgba( 245, 245, 245, 0.8 );">
      <div class="confirm_title" style="margin-top: 5px; text-align: center; margin-bottom: 20px;"><strong>お問い合わせフォーム 内容確認</strong></div>
      <div>
        <div>
          <strong>・お名前</strong>
          <p>
            <%= f.hidden_field :name %>
            <%= @inquiry.name %>
          </p>
        </div>
        <br>
        <div>
          <strong>・メールアドレス</strong>
          <p>
            <%= f.hidden_field :email %>
            <%= @inquiry.email %>
          </p>
        </div>
        <br>
        <div>
          <strong>・お問い合わせ内容</strong>
          <p>
            <%= f.hidden_field :content %>
            <div class="well well-compact" style="background-color: #ffffff">
              <%= simple_format(@inquiry.content) %>
            </div>
          </p>
        </div>
        <%= f.submit "送信する", style:"box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.7);", class:"btn btn-primary col-xs-4 col-xs-offset-4" %>
        <br>
        <br>
      </div>
    </div>
    <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <%= f.submit '戻る', name: 'back', style:"box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.7);", class:"btn-lg btn-warning col-xs-12" %>
    </div>
    </div>
  <% end %>
</div>


<style type="text/css">
.confirm_title {
  font-size: 24px;
}

@media screen and (max-width:424px) {
  .confirm_title {
    font-size: 20px;
  }
}

</style>



